Web References/Consulta/Consulta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultaInet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tabla" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="condicional" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaInetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaInetResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertaInet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tabla" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valores" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertaInetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertaInetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaInetSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaInet" />
  </wsdl:message>
  <wsdl:message name="ConsultaInetSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaInetResponse" />
  </wsdl:message>
  <wsdl:message name="InsertaInetSoapIn">
    <wsdl:part name="parameters" element="tns:InsertaInet" />
  </wsdl:message>
  <wsdl:message name="InsertaInetSoapOut">
    <wsdl:part name="parameters" element="tns:InsertaInetResponse" />
  </wsdl:message>
  <wsdl:portType name="ConsultaSoap">
    <wsdl:operation name="ConsultaInet">
      <wsdl:input message="tns:ConsultaInetSoapIn" />
      <wsdl:output message="tns:ConsultaInetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertaInet">
      <wsdl:input message="tns:InsertaInetSoapIn" />
      <wsdl:output message="tns:InsertaInetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultaSoap" type="tns:ConsultaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaInet">
      <soap:operation soapAction="http://tempuri.org/ConsultaInet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaInet">
      <soap:operation soapAction="http://tempuri.org/InsertaInet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConsultaSoap12" type="tns:ConsultaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaInet">
      <soap12:operation soapAction="http://tempuri.org/ConsultaInet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaInet">
      <soap12:operation soapAction="http://tempuri.org/InsertaInet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Consulta">
    <wsdl:port name="ConsultaSoap" binding="tns:ConsultaSoap">
      <soap:address location="http://vmti12/consulta/Consulta.asmx" />
    </wsdl:port>
    <wsdl:port name="ConsultaSoap12" binding="tns:ConsultaSoap12">
      <soap12:address location="http://vmti12/consulta/Consulta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>